header {
  display: flex;
  justify-content: space-evenly
}

h2 {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%)
}

h3 {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%)
}